<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="history.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<form action="/gethistory/{name}/{number}" method="post">
  <label for="patientname">Patient Name</label>
  <input type="text" id="patientname" name="patientname" required><br><br>
  <label for="mobilenumber">Enter Mobile Number:</label>
  <input type="number" id="mobilenumber" name="mobilenumber" required><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>