<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="login-container">

<form action="/checkvaliduser" method="post" class="login-form">
  <h2 ><a href="/" class="icon"><i class="fa fa-home"></i></a>  Login</h2>
  <label for="mobilenumber" >Mobile Number:</label>
  <input type="number" id="mobilenumber" name="mobilenumber" required><br><br>
  <label for="password">User Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  
  
   <input type="submit" value="Submit" class="button-class"> 
</form>
</div>
</body>
</html>