<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Patient Monitoring System</title>
  <link rel="stylesheet" href="wel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="background-overlay">
    <header class="header">
      <div class="logo-title">
        <a href="/" class="icon"><i class="fa fa-home"></i></a>
        <h1>Patient Monitoring System</h1>
      </div>
      <nav class="nav-links">
        <a href="/history" class="headerclass">View Prescription</a>
        <a href="/doctor" class="headerclass">Doctor Dashboard</a>
        <a href="/home" class="headerclass"><button class="btn" onclick="document.location='/registerbutton'">Register</button></a>
        <a href="/loginpage" class="headerclass"><button class="btn">Login</button></a>
      </nav>
    </header>
  </div>
</body>
</html>
